
<div class="container">
 <div class="row">
  <div class="col-md-3">
     <%= render 'books/list', book: @newbook, user: @user %>
  </div>

<div class="col-md-8 offset-md-1">

  <thead>
    <h2>Book detail</h2>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <table class="table">
    <tbody>
        <tr>
         <td>
          <%= link_to user_path(@user.id) do %>
          <%= image_tag @user.get_profile_image("50x50") %><br>
          <%= @user.name %>
          <% end %>
         </td>
        <td><%= link_to @book.title,book_path(@book.id) %></td>
        <td><%= @book.body %></td>
        <% if current_user == @user %>
        <td>
         <%= link_to edit_book_path(@book.id), class: "btn btn-sm btn-success" do %>
           Edit
          <% end %>
         </td>
         <td>
         <%= link_to book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか?", class: "btn btn-sm btn-danger" do %>
         Destroy<% end %>

        </td>
        <% end %>
       </tr>

    </tbody>


 </table>
 </div>
 </div>
</div>
